@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #131313;
    color: #fff;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
h1
{
    font: 400 3em 'Poppins';
}
h3
{
    font-family: 'Poppins';
    padding-bottom: 20px;
}
h3::before
{
    content: '';
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 4px;
    background-color: #f00;
    box-shadow: 0 0 5px #f00,
                0 0 1px #f00,
                0 0 20px #f00,
                0 0 40px #f00;
}
.list
{
    margin-top: 50px;
}
.list ul
{
    list-style: none;
}
.list ul li
{
    font: normal 1.5em 'Poppins';
    padding: 10px;
}
.list ul li a
{
    text-decoration: none;
    color: #fff;
}